# 5장 우리나라 인구소멸 위기 지역 분석
- 목표 : 대한민국 지도를 그리고 그 위에 인구 소멸 위기 지역에 대해 매핑해서 시각화하는 것

## 5-1 목표 명확히 하기
- 인구 소멸지역이란?
    - 65세 이상인구와 20-39세 여성 인구를 비교해서 젊은 여성 인구가 노인 인구의 절반에 미달할 경우에 인구 소멸 위험지역으로 분류
    - 각 지역별 20-30대 여성 인구수를 파악
    - 65세 이상 노인 인구수를 파악
    - 인구 소멸 위기 지역인지 파악

## 5-2 인구 데이터 확보하고 정리하기
- 국가통계 포털(kosis.kr)

In [1]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt

%matplotlib inline

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font',family=font_name)
    
plt.rcParams['axes.unicode_minus'] = False

In [2]:
population = pd.read_excel('./data/05. population_raw_data.xlsx',header=1)

# 비어있는 곳은 NaN 처리하지 않음
population.fillna(method='pad',inplace=True)

# 컬럼의 이름을 '광역시도','시도','인구수'로 수정
population.rename(columns = {'행정구역(동읍면)별(1)':'광역시도',
                            '행정구역(동읍면)별(2)':'시도',
                            '계':'인구수'},inplace=True)
# 소계 컬럼 삭제
population = population[(population['시도'] != '소계')]

population

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,제주특별자치도,제주시,남자인구수 (명),235977.0,17377.0,13118.0,15084,18350.0,8474.0,6782.0,4941,2737.0,854.0,226.0,53,17.0
842,제주특별자치도,제주시,여자인구수 (명),234688.0,15261.0,12245.0,14687,18062.0,9265.0,7877.0,7178,5649.0,3122.0,1387.0,460,137.0
843,제주특별자치도,서귀포시,총인구수 (명),170932.0,10505.0,8067.0,9120,11606.0,8686.0,7460.0,6456,4521.0,1855.0,733.0,242,77.0
844,제주특별자치도,서귀포시,남자인구수 (명),86568.0,5600.0,4247.0,4693,6082.0,4237.0,3441.0,2611,1494.0,370.0,103.0,29,9.0
845,제주특별자치도,서귀포시,여자인구수 (명),84364.0,4905.0,3820.0,4427,5524.0,4449.0,4019.0,3845,3027.0,1485.0,630.0,213,68.0

In [3]:
# 원본을 복사를 할지 안할지 여부
population.is_copy = False
# '항목'칼럼을 '구분'으로 이름 바꾸고 실제 데이터에도 적용
population.rename(columns = {'항목':'구분'},inplace=True)

# '구분' 칼럼에 있는 이름들을 바꿔준다.
# loc[바꿀칼럼 == '바꾸는 이름', 컬럼] = '바꿀 이름'
population.loc[population['구분']=='총인구수 (명)','구분'] = '합계'
population.loc[population['구분']=='남자인구수 (명)','구분'] = '남자'
population.loc[population['구분']=='여자인구수 (명)','구분'] = '여자'

population

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5191: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5192: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,제주특별자치도,제주시,남자,235977.0,17377.0,13118.0,15084,18350.0,8474.0,6782.0,4941,2737.0,854.0,226.0,53,17.0
842,제주특별자치도,제주시,여자,234688.0,15261.0,12245.0,14687,18062.0,9265.0,7877.0,7178,5649.0,3122.0,1387.0,460,137.0
843,제주특별자치도,서귀포시,합계,170932.0,10505.0,8067.0,9120,11606.0,8686.0,7460.0,6456,4521.0,1855.0,733.0,242,77.0
844,제주특별자치도,서귀포시,남자,86568.0,5600.0,4247.0,4693,6082.0,4237.0,3441.0,2611,1494.0,370.0,103.0,29,9.0
845,제주특별자치도,서귀포시,여자,84364.0,4905.0,3820.0,4427,5524.0,4449.0,4019.0,3845,3027.0,1485.0,630.0,213,68.0

## 5-3 인구소멸 위기 지역 계산하고 데이터 정리하기

In [4]:
# 20-39세까지 있는 값들을 더해준다
population['20 - 39세'] = population['20 - 24세'] + population['25 - 29세'] + \
                            population['30 - 34세'] + population['35 - 39세']
# 65세 이상 있는 값들을 더해준다
population['65세이상'] = population['65 - 69세'] + population['70 - 74세'] + \
                        population['75 - 79세'] + population['80 - 84세']+ \
                        population['85 - 89세'] + population['90 - 94세'] + \
                        population['95 - 99세'] + population['100+']
population.head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20 - 39세,65세이상
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0,44333.0,24950.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0,22222.0,10895.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0,22111.0,14055.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0,38184.0,20388.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0,19347.0,8852.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0,18837.0,11536.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0,69448.0,35547.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0,34199.0,14866.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0,35249.0,20681.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0,95682.0,39140.0

In [5]:
# index는 '광역시도','시도'로 하고, 칼럼은 '구분', 안에 들어가는 값들은 '인구수','20-39세','65세 이상'이 들어간다.
pop = pd.pivot_table(population, index = ['광역시도','시도'], 
                     columns = ['구분'],
                     values = ['인구수','20 - 39세','65세이상'])
pop

          20 - 39세                        65세이상                         인구수  \
구분              남자        여자        합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0  15767.0  21912.0  37679.0  106231.0
     고성군    4494.0    2529.0    7023.0   2900.0   4251.0   7151.0   15899.0
     동해시   11511.0    9753.0   21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시    8708.0    7115.0   15823.0   5892.0   8718.0  14610.0   35253.0
     속초시    9956.0    8752.0   18708.0   5139.0   7613.0  12752.0   40288.0
...            ...       ...       ...      ...      ...      ...       ...
충청북도 진천군    9391.0    7622.0   17013.0   4731.0   6575.0  11306.0   36387.0
     청원구   32216.0   27805.0   60021.0   8417.0  11914.0  20331.0   97006.0
     청주시  128318.0  115719.0  244037.0  37882.0  53671.0  91553.0  419323.0
     충주시   26600.0   22757.0   49357.0  14407.0  20383.0  34790.0  104877.0
     흥덕구   40933.0   37675.0   78608.0   9788.0  13671.0  23459.0  127647.0


구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0
     고성군   14215.0   30114.0
     동해시   46131.0   93297.0
     삼척시   34346.0   69599.0
     속초시   41505.0   81793.0
...            ...       ...
충청북도 진천군   33563.0   69950.0
     청원구   93807.0  190813.0
     청주시  415874.0  835197.0
     충주시  103473.0  208350.0
     흥덕구  125916.0  253563.0

[264 rows x 9 columns]

In [6]:
# 인구 소멸 비율 : 20-30대 여자 / (65세이상/2), 소멸비율은 파생변수
# 소명위기지역 : 소멸비율 < 1.0

pop['소멸비율'] = pop['20 - 39세','여자'] / (pop['65세이상','합계'] / 2)
pop.head()

         20 - 39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041
     고성군   14215.0   30114.0  0.707314
     동해시   46131.0   93297.0  1.289738
     삼척시   34346.0   69599.0  0.973990
     속초시   41505.0   81793.0  1.372647

In [7]:
# '소멸위기지역'칼럼을 새로 만들고, '소멸비율'칼럼의 값이 <1이면 T/F가 뜨게끔 한다.
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
pop.head()

         20 - 39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율 소멸위기지역
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041  False
     고성군   14215.0   30114.0  0.707314   True
     동해시   46131.0   93297.0  1.289738  False
     삼척시   34346.0   69599.0  0.973990   True
     속초시   41505.0   81793.0  1.372647  False

In [8]:
#'소멸위기지역' 칼럼의 값이 TRUE이면 그에 맞는 '시도'칼럼이 출력
# multiful columns에서 값 뽑기 : df.index_get_level_values(1)을 이용하여 소멸위기지역을 뽑아낼 수 있다
pop[pop['소멸위기지역']==True].index.get_level_values(1)

Index(['고성군', '삼척시', '양양군', '영월군', '정선군', '평창군', '홍천군', '횡성군', '가평군', '양평군',
       '연천군', '거창군', '고성군', '남해군', '밀양시', '산청군', '의령군', '창녕군', '하동군', '함안군',
       '함양군', '합천군', '고령군', '군위군', '문경시', '봉화군', '상주시', '성주군', '영덕군', '영양군',
       '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '동구', '영도구',
       '강화군', '옹진군', '강진군', '고흥군', '곡성군', '구례군', '담양군', '보성군', '신안군', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군', '김제시',
       '남원시', '무주군', '부안군', '순창군', '임실군', '장수군', '정읍시', '진안군', '공주시', '금산군',
       '논산시', '보령시', '부여군', '서천군', '예산군', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '영동군', '옥천군'],
      dtype='object', name='시도')

In [9]:
# pivot_table에 의해 다단으로 구성된 인덱스를 다시 초기화
pop.reset_index(inplace=True)
pop.head()

   광역시도   시도 20 - 39세                      65세이상                         인구수  \
구분                 남자       여자       합계       남자       여자       합계        남자
0   강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
1   강원도  고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
2   강원도  동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
3   강원도  삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
4   강원도  속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                            소멸비율 소멸위기지역
구분        여자        합계
0   107615.0  213846.0  1.226041  False
1    14215.0   30114.0  0.707314   True
2    46131.0   93297.0  1.289738  False
3    34346.0   69599.0  0.973990   True
4    41505.0   81793.0  1.372647  False

In [10]:
# '20-39세' .. 등 합쳐있던 컬럼을 나누어 준다
tmp_columns = [pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n]
              for n in range(0,len(pop.columns.get_level_values(0)))]

pop.columns = tmp_columns
pop.head()

,광역시도,시도,20 - 39세남자,20 - 39세여자,20 - 39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912.0,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251.0,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732.0,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718.0,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613.0,12752.0,40288.0,41505.0,81793.0,1.372647,False

In [11]:
# 'pop' 데이터 프레임의 정보를 간략하게 본다
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 13 columns):
광역시도          264 non-null object
시도            264 non-null object
20 - 39세남자    264 non-null float64
20 - 39세여자    264 non-null float64
20 - 39세합계    264 non-null float64
65세이상남자       264 non-null float64
65세이상여자       264 non-null float64
65세이상합계       264 non-null float64
인구수남자         264 non-null float64
인구수여자         264 non-null float64
인구수합계         264 non-null float64
소멸비율          264 non-null float64
소멸위기지역        264 non-null bool
dtypes: bool(1), float64(10), object(2)
memory usage: 25.1+ KB

## 5-4 대한민국 지도 그리는 방법에 대한 소개

## 5-5 지도 시각화를 위해 지역별 고유 ID 만들기

In [12]:
# '시도' 칼럼에 있는 고유값을 본다. -> 모든 지역을 대표하는 교우한 ID를 만든다
pop['시도'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구',
       '김포시', '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구',
       '상록구', '성남시', '소사구', '수원시', '수정구', '수지구', '시흥시', '안산시', '안성시',
       '안양시', '양주시', '양평군', '여주시', '연천군', '영통구', '오산시', '오정구', '용인시',
       '원미구', '의왕시', '의정부시', '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구',
       '파주시', '팔달구', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시',
       '남해군', '마산합포구', '마산회원구', '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군',
       '의창구', '진주시', '진해구', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군',
       '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '남구', '문경시',
       '봉화군', '북구', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '동구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구', '금정구',
       '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구',
       '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군', '계양구',
       '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군',
       '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '동남구', '보령시', '부여군', '서북구', '서산시',
       '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '상당구', '서원구', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군',
       '청원구', '청주시', '충주시', '흥덕구'], dtype=object)

In [13]:
si_name = [None] * len(pop)

# 광역시가 아닌데 구를 가지고 있는 시와 그 행정구를 파이썬의 dict형으로 선언하여 따로 설정을 해줌
tmp_gu_dict = {'수원' : ['장안구','권선구','팔달구','영통구'],
              '성남' : ['수정구','중원구','분당구'],
              '안양':['만안구','동안구'],
              '안산':['상록구','단원구'],
              '고양':['덕양구','일산동구','일산서구'],
              '용인':['처인구','기흥구','수지구'],
              '청주':['상당구','서원구','흥덕구','청원구'],
              '천안':['동남구','서북구'],
              '전주':['완산구','덕진구'],
              '포항':['남구','북구'],
              '창원':['의창구','성산구','진해구','마산합포구','마산회원구'],
              '부천':['오정구','원미구','소사구']}

In [14]:
for n in pop.index:
    # '광역시도' 칼럼 뒤에서 3자리가 '광역시','특별시','자치시'가 아닌 경우에
    if pop['광역시도'][n][-3:] not in ['광역시','특별시','자치시']:
        # '시도'칼럼에서 '고성'이고 '광역시도'칼럼에서 '강원도'일 경우
        if pop['시도'][n][:-1]=='고성' and pop['광역시도'][n] == '강원도':
            # 이름을 '고성(강원)'으로 해준다
            si_name[n] = '고성(강원)'
        # 또는 '시도'칼럼에서 '고성'이고 '광역시도'칼럼에서 '경상남도'일 경우
        elif pop['시도'][n][:-1]=='고성' and pop['광역시도'][n] == '경상남도':
            # 이름을 '고성(강원)'으로 해준다
            si_name[n] = '고성(경남)'
        # 그 외의 경우에는 그냥 둔다
        else:
            si_name[n] = pop['시도'][n][:-1]
   
    # tmp_gu_dict에 들어있는 수만큼 for문을 돌려준다
    for keys, values in tmp_gu_dict.items():
        # 만약 value가 '시도'칼럼에 있다면
        if pop['시도'][n] in values:
            # '시도 '칼럼에 있는 글자 수가 2와 같다면
            if len(pop['시도'][n]) ==2:
                # ''(공백)과 '시도'칼럼에 있는 값을 더한 값을 넣어준다
                si_name[n] = keys + '' + pop['시도'][n]
            # 또는 '시도'칼럼에 있는 '마산합포구','마산회원구'가 있으면            
            elif pop['시도'][n] in ['마산합포구','마산회원구']:
                # ''(공백)과 '시도'칼럼에 있는 값을 더한 값을 넣어준다
                si_name[n] = keys + ' ' + pop['시도'][n][2:-1]
            # 그외에는
            else:
                # ''(공백)과 '시도'칼럼에 있는 값을 더한 값을 넣어준다
                si_name[n] = keys + ' ' + pop['시도'][n][:-1]
        elif pop['광역시도'][n] == '세종특별자치시':
            si_name[n] = '세종'
        else:
            if len(pop['시도'][n]) == 2:
                si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]
            else:
                si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n][:-1]

In [15]:
si_name

['강원 강릉',
 '강원 고성',
 '강원 동해',
 '강원 삼척',
 '강원 속초',
 '강원 양구',
 '강원 양양',
 '강원 영월',
 '강원 원주',
 '강원 인제',
 '강원 정선',
 '강원 철원',
 '강원 춘천',
 '강원 태백',
 '강원 평창',
 '강원 홍천',
 '강원 화천',
 '강원 횡성',
 '경기 가평',
 '경기 고양',
 '경기 과천',
 '경기 광명',
 '경기 광주',
 '경기 구리',
 '경기 군포',
 '경기 권선',
 '경기 기흥',
 '경기 김포',
 '경기 남양주',
 '경기 단원',
 '경기 덕양',
 '경기 동두천',
 '경기 동안',
 '경기 만안',
 '경기 부천',
 '경기 분당',
 '경기 상록',
 '경기 성남',
 '부천 소사',
 '경기 수원',
 '경기 수정',
 '경기 수지',
 '경기 시흥',
 '경기 안산',
 '경기 안성',
 '경기 안양',
 '경기 양주',
 '경기 양평',
 '경기 여주',
 '경기 연천',
 '경기 영통',
 '경기 오산',
 '부천 오정',
 '경기 용인',
 '부천 원미',
 '경기 의왕',
 '경기 의정부',
 '경기 이천',
 '경기 일산동',
 '경기 일산서',
 '경기 장안',
 '경기 중원',
 '경기 처인',
 '경기 파주',
 '경기 팔달',
 '경기 평택',
 '경기 포천',
 '경기 하남',
 '경기 화성',
 '경상 거제',
 '경상 거창',
 '경상 고성',
 '경상 김해',
 '경상 남해',
 '경상 마산합포',
 '경상 마산회원',
 '경상 밀양',
 '경상 사천',
 '경상 산청',
 '경상 성산',
 '경상 양산',
 '경상 의령',
 '경상 의창',
 '경상 진주',
 '경상 진해',
 '경상 창녕',
 '경상 창원',
 '경상 통영',
 '경상 하동',
 '경상 함안',
 '경상 함양',
 '경상 합천',
 '경상 경산',
 '경상 경주',
 '경상 고령',
 '경상 구미',
 '경상 군위',
 '경상 김천',
 '경상 남구',
 '경상 문경',
 '경상 봉화',
 '경상 북구',
 '경상 상주',
 '경상 성주',
 '경상 안동',
 '경상 영덕',
 '경상 영양',
 '경상 영주',
 '경상 영천',
 '경상 예천',
 '경상 울릉',
 '경상 울진',
 '경상 의성',
 '경상 청도',
 '경상 청송',
 '경상 칠곡',
 '경상 포항',
 '광주 광산',
 '광주 남구',
 '광주 동구',
 '광주 북구',
 '광주 서구',
 '대구 남구',
 '대구 달서',
 '대구 달성',
 '대구 동구',
 '대구 북구',
 '대구 서구',
 '대구 수성',
 '대구 중구',
 '대전 대덕',
 '대전 동구',
 '대전 서구',
 '대전 유성',
 '대전 중구',
 '부산 강서',
 '부산 금정',
 '부산 기장',
 '부산 남구',
 '부산 동구',
 '부산 동래',
 '부산 부산진',
 '부산 북구',
 '부산 사상',
 '부산 사하',
 '부산 서구',
 '부산 수영',
 '부산 연제',
 '부산 영도',
 '부산 중구',
 '부산 해운대',
 '서울 강남',
 '서울 강동',
 '서울 강북',
 '서울 강서',
 '서울 관악',
 '서울 광진',
 '서울 구로',
 '서울 금천',
 '서울 노원',
 '서울 도봉',
 '서울 동대문',
 '서울 동작',
 '서울 마포',
 '서울 서대문',
 '서울 서초',
 '서울 성동',
 '서울 성북',
 '서울 송파',
 '서울 양천',
 '서울 영등포',
 '서울 용산',
 '서울 은평',
 '서울 종로',
 '서울 중구',
 '서울 중랑',
 '세종',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주',
 '울산 중구',
 '인천 강화',
 '인천 계양',
 '인천 남구',
 '인천 남동',
 '인천 동구',
 '인천 부평',
 '인천 서구',
 '인천 연수',
 '인천 옹진',
 '인천 중구',
 '전라 강진',
 '전라 고흥',
 '전라 곡성',
 '전라 광양',
 '전라 구례',
 '전라 나주',
 '전라 담양',
 '전라 목포',
 '전라 무안',
 '전라 보성',
 '전라 순천',
 '전라 신안',
 '전라 여수',
 '전라 영광',
 '전라 영암',
 '전라 완도',
 '전라 장성',
 '전라 장흥',
 '전라 진도',
 '전라 함평',
 '전라 해남',
 '전라 화순',
 '전라 고창',
 '전라 군산',
 '전라 김제',
 '전라 남원',
 '전라 덕진',
 '전라 무주',
 '전라 부안',
 '전라 순창',
 '전라 완산',
 '전라 완주',
 '전라 익산',
 '전라 임실',
 '전라 장수',
 '전라 전주',
 '전라 정읍',
 '전라 진안',
 '제주 서귀포',
 '제주 제주',
 '충청 계룡',
 '충청 공주',
 '충청 금산',
 '충청 논산',
 '충청 당진',
 '충청 동남',
 '충청 보령',
 '충청 부여',
 '충청 서북',
 '충청 서산',
 '충청 서천',
 '충청 아산',
 '충청 예산',
 '충청 천안',
 '충청 청양',
 '충청 태안',
 '충청 홍성',
 '충청 괴산',
 '충청 단양',
 '충청 보은',
 '충청 상당',
 '충청 서원',
 '충청 영동',
 '충청 옥천',
 '충청 음성',
 '충청 제천',
 '충청 증평',
 '충청 진천',
 '충청 청원',
 '충청 청주',
 '충청 충주',
 '충청 흥덕']

In [16]:
pop['ID'] = si_name

In [17]:
del pop['20 - 39세남자']
del pop['65세이상남자']
del pop['65세이상여자']

pop.head()

,광역시도,시도,20 - 39세여자,20 - 39세합계,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역,ID
0,강원도,강릉시,23098.0,49384.0,37679.0,106231.0,107615.0,213846.0,1.226041,False,강원 강릉
1,강원도,고성군,2529.0,7023.0,7151.0,15899.0,14215.0,30114.0,0.707314,True,강원 고성
2,강원도,동해시,9753.0,21264.0,15124.0,47166.0,46131.0,93297.0,1.289738,False,강원 동해
3,강원도,삼척시,7115.0,15823.0,14610.0,35253.0,34346.0,69599.0,0.973990,True,강원 삼척
4,강원도,속초시,8752.0,18708.0,12752.0,40288.0,41505.0,81793.0,1.372647,False,강원 속초

### 5-6 Cartogram으로 우리나라 지도 만들기

In [18]:
draw_korea_raw = pd.read_excel('./data/05. draw_korea_raw.xlsx',encoding='euc-kr')
draw_korea_raw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,고양 덕양,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,파주,고양 일산서,김포,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,부천 소사,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN
5,NaN,인천 강화,부천 원미,안양 동안,서울 은평,서울 마포,서울 중구,서울 성동,서울 강동,여주,원주,삼척,NaN,NaN
6,NaN,인천 서구,부천 오정,시흥,서울 강서,서울 동작,서울 용산,서울 광진,서울 송파,이천,평창,울진,NaN,NaN
7,NaN,인천 동구,인천 계양,안산 상록,서울 양천,서울 관악,서울 서초,성남 중원,과천,광주,영월,영덕,NaN,NaN
8,NaN,NaN,인천 부평,안산 단원,서울 영등포,서울 금천,서울 강남,성남 분당,성남 수정,용인 수지,문경,봉화,NaN,울릉
9,NaN,인천 중구,인천 남구,화성,서울 구로,군포,의왕,수원 영통,용인 기흥,용인 처인,안동,영양,NaN,NaN
10,인천 옹진,인천 연수,인천 남동,오산,안성,수원 권선,수원 장안,제천,예천,영주,구미,청송,포항 북구,NaN
11,태안,아산,천안 동남,천안 서북,평택,음성,수원 팔달,단양,상주,김천,군위,의성,포항 남구,NaN
12,NaN,당진,홍성,예산,공주,진천,충주,청주 흥덕,괴산,칠곡,영천,경산,경주,NaN
13,NaN,서산,보령,청양,세종,대전 대덕,증평,청주 청원,보은,고령,청도,성주,울산 북구,NaN
14,NaN,NaN,부여,논산,계룡,대전 동구,청주 상당,청주 서원,대구 북구,대구 중구,대구 수성,울산 울주,울산 동구,NaN
15,NaN,NaN,서천,금산,대전 유성,대전 중구,옥천,영동,대구 서구,대구 남구,대구 동구,울산 중구,울산 남구,NaN
16,NaN,NaN,군산,익산,대전 서구,무주,거창,합천,대구 달서,대구 달성,부산 금정,부산 동래,부산 기장,NaN
17,NaN,NaN,부안,김제,완주,장수,함양,창녕,밀양,부산 북구,부산 부산진,부산 연제,부산 해운대,NaN
18,NaN,고창,정읍,전주 덕진,진안,남원,진주,의령,부산 강서,부산 사상,부산 동구,부산 중구,NaN,NaN
19,NaN,영광,장성,전주 완산,임실,산청,함안,양산,창원 합포,부산 서구,부산 사하,부산 남구,NaN,NaN
20,NaN,함평,담양,순창,구례,하동,창원 의창,창원 성산,창원 진해,김해,부산 영도,부산 수영,NaN,NaN
21,신안,무안,광주 광산,곡성,화순,광양,사천,창원 회원,통영,NaN,NaN,NaN,NaN,NaN
22,목포,나주,광주 서구,광주 북구,순천,고흥,남해,고성(경남),거제,NaN,NaN,NaN,NaN,NaN
23,해남,영암,광주 남구,광주 동구,여수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,진도,강진,장흥,보성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,완도,NaN,NaN,제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,서귀포,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked.rename(columns={'level_0':'y','level_1':'x',0 : 'ID'},inplace=True)
draw_korea_raw_stacked

      y   x      ID
0     0   7      철원
1     0   8      화천
2     0   9      양구
3     0  10  고성(강원)
4     1   3      양주
..   ..  ..     ...
247  24   2      장흥
248  24   3      보성
249  25   2      완도
250  25   5      제주
251  26   5     서귀포

[252 rows x 3 columns]

In [21]:
draw_korea = draw_korea_raw_stacked

In [24]:

BORDER_LINES = [[(5,1),(5,2),(7,2),(7,3),(11,3),(11,0)],# 인천
                [(5,4),(5,5),(2,5),(2,7),(4,7),(4,9),(7,9), (7,7),(9,7),(9,5),(10,5),(10,4),(5,4)],# 서울
                [(1,7),(1,8),(3,8),(3,10),(10,10),(10,7),
                (12,7),(12,6),(11,6),(11,5),(12,5),(12,4),(11,4),(11,3)], # 경기도
                [(8,10),(8,11),(6,11),(6,12)],  #  강원도
                [(12,5),(13,5),(13,4),(14,4),(14,5),(15,5),(15,4),(16,4),(16,2)], # 충청북도
                [(16,4),(17,4),(17,5),(16,5),(16,6),(19,6),(19,5),(20,5),(20,4),(21,4),(21,3),(19,3),(19,1)], # 전라북도
                [(13,5),(13,6),(16,6)], # 대전시
                [(13,5),(14,5)],   # 세종시
                [(21,2),(21,3),(22,3),(22,4),(24,4),(24,2),(21,2)], # 광주
                [(20,5),(21,5),(21,6),(23,6)],  # 전라남도
                [(10,8),(12,8),(12,9),(14,9),(14,8),(16,8),(16,6)], # 충청북도
                [(14,9),(14,11),(14,12),(13,12),(13,13)],  # 경상북도
                [(15,8),(17,8),(17,10),(16,10),(16,11),(14,11)], # 대구
                [(17,9),(18,9),(18,8),(19,8),(19,9),(20,9),(20,10),(21,10)], # 부산
                [(16,11),(16,13)], # 울산
                [(27,5),(27,6),(25,6)]
               ]

In [28]:
plt.figure(figsize = (8,11))

# 지역 이름 표시
for idx, row in draw_korea.iterrows():
    
    # 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시한다.
    # (중구, 서구)
    if len(row['ID'].split()) ==2:
        dispname = '{}\n{}'.format(row['ID'].split()[0], row(['ID'].split()[1])
    elif row['ID'][:2] == '고성':
        dispname = '고성'
    else:
        dispname = row['ID']
    
    # 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시한다
    if len(dispname.splitlines()[-1]) >= 3:
        fontsize, linespacing = 9.5, 1.5
    else:
        fontsize, linespacing = 11, 1.2
    
    # annotate() : 그림에 주석을 적을 경우
    plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                 fontsize=fontsize, ha='center',va = 'center',linespacing=linespacing)
    
# 시도 경계 그린다
for path in BORDER_LINES:
    ys, xs = zip(*path)    # *path에서 *가 붙어있는 경우는 가변 매개변수라 함, 매개변수가 2개 이상일 경우에 사용
    plt.plot(xs,ys, c='black',lw=1.5)
    
plt.gca().invert_yaxis()    # y축을 뒤집어 주는 것, y축이 matplotlib에서 시작하는 0과 엑셀에서 시작하는 0이 서로 반대이기 때문
# plt.gac().set_aspect(1)
plt.axis('off')   # 그래프의 모든 축과 라벨을 제거하라는 의미

plt.tight_layout()  # 그래프 상에서 배치되어 있는 공백을 적당하게 배치해주는 것, 자동으로 레이아웃을 설정
plt.show()

SyntaxError: invalid syntax (<ipython-input-28-8e0b4371da5e>, line 10)

- pop['ID']에서 우리가 만든 draw_korea['ID']에 없는 시군구명을 삭제
- 인구에 대한 분석 결과인 pop과 지도를 그리기 위한 draw_korea의 데이터를 합칠 때 사용할 key인 ID 칼럼의 내용이 문제가 없는지 확인

In [ ]:
set(pop['ID'].unique()) - set(draw_korea['ID'].unique())

In [ ]:
set(draw_korea['ID'].unique() - set(pop['ID'].unique())

In [ ]:
# pop['ID']에서 우리가 만든 draw_korea['ID']에 없는 애들은 빼준다
tmp_list = list(set(pop['ID'].unique()) - set(draw_korea['ID'].unique()))

for tmp in tmp_list:
    pop = pop.drop(pop[pop['ID']==tmp].index)

print(set(pop['ID'].unique()) - set(draw_koreaa['ID'].unique()))
set()

In [ ]:
pop = pd.merge(pop,draw_korea, how = 'left', on=['ID'])

pop.head()

In [ ]:
def drawKorea(targetData, blockedMap, cmapname ):
    gamma = 0.75
    
    whitelabelmin = (max(blockedMap[targetData]) - min(blockedMap[targetData])) * 0.25 + min(blockedMap[targetData])
    datalabel = targetData
    
    vmin = min(blockedMap[targetData])
    vmax = max(blockedMap[targetData])
    
    mapdata = blockedMap.pivot_table(index='y',columns='x',values=targetData)
    masked_mapdata = np.ma.masked_where(np.isnan(mapdata),mapdata)
    
    plt.figure(figsize = (9,11))
    plt.color(masked_mapdata, vmin = vmin, vmax=vmax, cmap=cmapname,
             edgecolor = '#aaaaaa',linewidth=0.5)
    
    for idx, row in blockedMap.itterrows():
        if len(row['ID'].split()) ==2:
            dispname = '{}\{}'.format(row['ID'].split()[0], row['ID'].split()[1])
        elif row['ID'][:2]=='고성':
            dispname = '고성'
        else:
            dispname = row['ID']
            
        
    if len(dispname.splitlines()[-1]) >= 3:
        fontsize, linespacing = 10.0, 1.1
    else:
        fontsize, linespacing = 11,1.
    
    annocolor = 'white' if row[targetData] > whitelabelmin else 'black'
    plt.annotate(dispname, (row['x']+0.5, row['y']+0.5),weight='bold'.
                fontsize=fontsize, ha='center', va='center', color=annocolor,
                linespacing=linespacing)
    
    for path in BORDER_LINES:
        ys, xs = zip(*path)
        plt.plot(xs,ys,c='black',lw=2)
    
    plt.gca().invert_yaxis()
    
    plt.axis('off')
    
    cb = plt.colorbar(shrink=.0,aspect=10)
    cb.set_label(datalabel)
    
    plt.tight_layout()
    plt.show()

In [ ]:
import numpy as np

mapdata = pop.pivot_table(index='y',colmns='x',values='인구수합계')
masked_mapdata = np.ma.masked_where(np.isnan(mapdata),mapdata)

In [ ]:
mapdata

## 5-7 인구 현황 및 인구 소멸 지역 확인하기

In [ ]:
# 위의 함수를 돌리면 그래프를 나타낼 수 있다.
# 책에서는 Blue 였지만, red, green으로도 실습할 수 있음
drawKorea('인구수합계',pop,'Blues')  # 'Reds', 'Greens'

In [ ]:
pop['소멸위기지역'] = [1 if con else 0 for con in pop['소멸위기지역']]
drawKorea('소멸위기지역',pop,'Reds')

# 빨간색으로 갈수록 여성비가 낮고, 파란색으로 갈수록 여성비가 높다

## 5-8 인구 현황에서 여성 인구 비율 확인하기

In [ ]:
def drawKorea(targetData, blockedMap, cmapname):
    gamma = 0.75
    
    whitelabelmin=20
    
    datalabel = targetData
    
    tmp_max = max([np.abs(min(blockedMap[targetData])),
                  np.abs(max(blockedMap[targetData]))])
    
    vmin, vmax = -tmp_max, tmp,max
    
    mapdata = blockedMap.pivot_table(index='y',columns='x',values=targetData)
    masked_mapdata = np.ma.masked_where(np.isnan(mapdata),mapdata)
    
    plt.figure(figsize=(9,11))
    plt.pcolor(masked_mapdata, vmin=vmin, vmax=vmax, cmap=cmapname,
              edgecolor = '#aaaaaa', linewidth=0.5)
    
    for idx, row in blockedMap.itterrows():
        if len(row['ID'].split())==2:
             dispname = '{}\{}'.format(row['ID'].split())[0], row(['ID'].split()[1])
        elif row['ID'][:2] == '고성':
            dispname = '고성'
        else:
            dispname = row['ID']
            
        
        if len(dispname.splitlines()[-1]) >= 3:
            fontsize, linespacing = 10.0, 1.1
        else:
            fontsize, linespacing = 11,1.
    
        annocolor = 'white' if row[targetData] > whitelabelmin else 'black'
        plt.annotate(dispname, (row['x']+0.5, row['y']+0.5),weight='bold'.
                fontsize=fontsize, ha='center', va='center', color=annocolor,
                linespacing=linespacing)
        
        for path in BORDER_LINES:
            ys, xs = zip(*path)
            plt.plot(xs,ys, c='black',lw=2)
            
        plt.gca().invert_yaxis()
    
        plt.axis('off')

        cb = plt.colorbar(shrink=.0,aspect=10)
        cb.set_label(datalabel)

        plt.tight_layout()
        plt.show()

In [ ]:
pop['여성비'] = (pop['인구수여자']/pop['인구수합계']-0.5)*100
drawKorea('여성비',pop,'RuBu')

In [ ]:
pop['2030여성비'] = (pop['20-39세여자']/pop['20-39세합계']-0.5)*100
drawKorea('2030여성비',pop,'RuBu')

### 5-9 Folium에서 인구 소멸 위기 지역 표현하기

In [ ]:
pop_folium = pop.set_index('ID')
pop_folium.head()

In [ ]:
import folium
import json
import warnings   # 주피터 노트북을 사용할 때 경고 메시지를 무시하거나 숨길 때
warnings.simplefilter(action='ignore',category=FutureWarning)

In [ ]:
# 인구수 합계를 우리나라 지도에 적용
geo_path = './data/05. skorea_munipalities_geo_simple.json'
geo_data = json.load(open(geo_path,encoding='utf-8'))

# 앞서서 folium 모듈을 사용하여 지도를 그린 것처럼 지도를 그려준다
map = folium.Map(location=[36.2002, 127.054],zoom_start=7)
map.choropleth(geo_str = geo_data,
              data = pop_folium['인구수합계'],
              columns = [pop_folium.index, pop_folium['인구수합계']],
              fill_color = "YlGnBu",
              key_on = 'feature.id')
map

# 우리나라 인구 밀집 현상 확인

In [ ]:
map = folium.Map(location=[36.2002, 127.054],zoom_start=7)
map.choropleth(geo_str = geo_data,
              data = pop_folium['소멸위기지역'],
              columns = [pop_folium.index, pop_folium['소멸위기지역']],
              fill_color = "YlGnBu",
              key_on = 'feature.id')

In [ ]:
draw_korea.to_csv('./data/05. draw_korea.csv',encoding = 'utf-8',sep=',')